img {
	width: 80%;
	margin: 1em auto;
	height: auto;
	display: block;
}

output {
	font-size: 36pt;
	position: relative;
	left: 40px;
	color: #a30505;
}

input {
	width: 300px;
}

.center {
	margin: auto;
	width: 60%;
}

.startstop-button {

	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
	

	width: 120px;
	height: 30px;
	font-size: 13pt;
	border-radius: 10px;
	
	padding: 7px 8px 30px 7px;
	margin-right: 6px;
	min-width: 100px;
  	min-height: 30px;
  	display: inline;
	
}
	


p {
	font-size: 15pt;
	line-height:130%;
}

@media only screen and (max-width:480px) { 
	.startstop-button {width: 100%; font-size: 4.25em; }
  }