
.page {
	margin: auto;
	width: 70%;
}
.center {
	justify-content: center;

	text-align: center;
}

.title {
	font-size: 36pt;
}

output {
	font-size: 36pt;
	position: relative;
	left: 10px;
	color: #a30505;
}

input {
	width: 80%;
}

.startstop-button {

	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
	background-color: #c7cac0;
	width: 120px;
	
	font-size: 13pt;
	border-radius: 10px;
	padding: 7px 8px 7px 7px;
	margin: 10px;
	min-width: 100px;
  	min-height: 30px;
  	display: inline;
}
	


p {
	font-size: 15pt;
	line-height:130%;
}

@media only screen and (max-width: 1450px) and (orientation: portrait) { 
	.startstop-button {
		
		width: 60%;
		min-height: 80px;
		font-size: 2.25em; 
	}
	
  }